.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea

# Python stuff
!__init__.py
**/build/**
**/*.egg-info/**
**/dist/**

# Python virtual env setup
**/erlpy3env

# Fortune cookie example cloned during setup.sh
**/fortune

