{erl_opts, 
	[debug_info, 
		{parse_transform, lager_transform}  % the transform makes e.g. lager:info available in files. (not the shell though)
										 	% lager:log(info, self(), "foo ~s", [bar]).
	] 
}.

{deps, [
	{lager, "3.2.4", {git, "https://github.com/basho/lager", {tag, "3.2.4"}}},
	{poolboy, "1.5.1"}, % creating python workers
	{erlport, ".*", {git,"https://github.com/hdima/erlport.git", "master"}}
]}.

{plugins, [
  rebar3_hex,   %% Added plugin manager hex for fetching dependencies
  %rebar3_run   %% Just type rebar3 run instead of _build.../rel/... console
  rebar3_auto   %% Super cool auto loading
  %{ rebar3_gpb_plugin, "1.10.0" }
]}.

{relx,
  [{release,
    { erlport_python_example, "0.1.0" },
    [
      lager,   % Will boot the lager app
      poolboy, % Will boot poolboy
			erlport_python_example,
      sasl
		]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
